@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
﻿@{
    @model List<ProductModel>

}
<div>
    <span style="float:right" class="btn-group">
        @Html.ActionLink("create", "Create", "Products", null, new { @class="btn btn-info" })
    </span>  
    <table class="table">
        <tr>
            <th>#</th>
            <th>Product name</th>
            <th>Amount</th>
            <th>Price</th>
            <th>Price with PVN</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.ProductName</td>
                <td>@item.Amount</td>
                <td>@item.Price</td>
                <td>@item.pvnPrice</td>
                <td>
                    <div class="btn-group">
                        @Html.ActionLink("edit", "Edit", "Products", new { id = @item.Id }, new { @class="btn btn-info mx-1" })<br />
                        @Html.ActionLink("delete", "Delete", "Products", new { id = @item.Id }, new { @class="btn btn-info mx-1" })
                    </div>
                </td>
            </tr>
        }
    </table>
</div>